CLAUDE.md

db/schema_cms.txt

# documentos gerados pelo Claude
backend/sugestao_api.md
# backend/sugestao_api_categorias_secoe.md

.venv

# Python
__pycache__/
*.py[cod]
*$py.class

# .env do ./backend
backend/.env
backend/.env.*
!.env.example